$fa-font-path: '/assets/fonts' !default;

@import 'bower_components/font-awesome/scss/font-awesome';

.ember-magellan-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #000;
  opacity: 0.4;
}

.ember-magellan-panel {
  position: absolute;
  bottom: 0;
  left: 20%;
  right: 0;
  top: 0;
  background-color: #fff;

  header {
    line-height: 50px;
    height: 50px;
    background-color: #e1e5ea;
    padding: 0 10px;

    nav {
      float: left;
    }

    ul {
      margin: 0;
      padding-left: 0;
      list-style-type: none;

      &:after {
        clear: both;
      }
    }

    li {
      float: left;
    }

    button {
      cursor: pointer;
      font-weight: bold;
      text-align: center;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #888;
      width: 38px;
      height: 38px;

      &:focus {
        outline: 0;
      }
    }

    i {
      @include fa-icon;

      font-size: 20px;
    }

    .actions {
      float: right;
    }

    .previous {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;

      i {
        @extend .fa-angle-left;
      }
    }

    .next {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0;

      i {
        @extend .fa-angle-right;
      }
    }

    .close i {
      @extend .fa-close;
    }
  }
}

.ember-magellan-content {
  padding: 15px;

  h1 {
    margin: 0;
  }
}
