.index {
  ul {
    list-style-type: none;
    margin: 5px;
    padding-left: 0;

    li {
      padding: 10px;
      border-bottom: 1px solid #eee;
      transition: background-color 100ms;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
